.contactDetails {
  padding-left: 8rem;
}

.alignment {
  display: inline-block;
}

.navMenu {
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.navLinks {
  text-Decoration: none;
  color: black;
}

.formHead {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.leftAlign {
  position: relative;
  left: 20%;
}

.paddingContactType {
  padding: 10px 10px 10px 10px;
}

.iconStyle {
  font-size: larger;
  color: white;
}

.iconBackgroundColor {
  background: black;
}