@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

.main-container {
  @media screen and (min-width: 1500px) {
    padding-left: 17% !important;
    padding-right: 17% !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.homeHeader {
  width: 100%;
  @media screen and (min-width: 1089px) {
    width: 90% !important;
  }
  @media screen and (min-width: 1500px) {
    width: 62% !important;
  }
}

.header-link{
  color: #ffffff !important;
  @media screen and (min-width: 1023px) {
    font-size: 12px !important;
  }
  @media screen and (min-width: 767px) {
    font-size: 10px;
  }
  @media screen and (max-width: 766px) {
    font-size: 16px;
    justify-content: flex-start;
  }
}

* {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}

.p-2-all {
  & * {
    padding: .5rem;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.overlay-container {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  position: absolute;

}
  .overlay-form {
    input {
      background: white;
    }

    fieldset {
      border: none !important;
    }
  }

.start-container {
  padding-bottom: 80px !important;
  background: url("/how-to-start.jpg") no-repeat;
  background-size: cover;
}

.start-card-container {
  background: white;
  min-height: 300px;
  @media screen and (min-width: 1023px){
    padding: 50px;
    min-height: 350px;
  }
}

.custom-form {
  input, textarea {
    background: #0072BA;
    color: white;
  }

  fieldset {
    border: none !important;
  }
  &.with-white{
    input, textarea {
      color: #0072BA;
      background: white;
    }
  }
}

.banner-title {
  span {
    text-shadow: none;
    background: linear-gradient(2deg, #fff 30%, #99c928 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.advantage-container{
  background: url("/cta.jpg") no-repeat;
  background-size: cover;
  .with-cta {
    padding: 50px 80px;
    background: rgba(0, 0, 0, .25);
    @media screen and (max-width: 1023px) {
      left: 0;
      width: 100%;
      padding: 12px;
    }
    @media screen and (min-width: 1500px) {
      left: 17% !important;
      width: 35%;
    }
  }
}

.footer-container{
  background: url("/footer.png") no-repeat;
  background-position: right top;
  background-size: 340px;
  @media screen and (max-width: 1024px) {
    background-position: right bottom;
  }
  @media screen and (max-width: 400px) {
    padding-bottom: 200px !important;
  }
}

.banner-container{
  padding-top: 150px !important;
}

.text-style {
  margin: auto 0;
  text-align: right;
  display: block;
  @media screen and (max-width: 420px){
    text-align: left;
  }
}
.container-style  {
  width: 100vw;
  max-width: 1170px;
}

.hidden-mdUp-container{
  @media screen and (max-width: 766px) {
    display: none;
  }
}
.hidden-mdDown-container{
  @media screen and (min-width: 767px) {
    display: none;
  }
}
